{% extends 'base.html' %}
  {% block content %}
  <head>
    <title>Welcome to my portfolio</title>
  </head>
    <main id="home">
      <h1 class="lg-heading">Arbaaz <span class="text-secondary">Ali</span></h1>
      <h2 class="sm-heading">
        Web Developer
      </h2>
      <div class="icons">
        <a href="https://www.instagram.com/arbaaz_ali/">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/Arbaaz02">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/arbaaz02/">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/ArbaazAli">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </main>
  {% endblock %}
    

